<ul class = "flex-main">
  <li class="flex-info">
      <h1>This page will let you edit the details for a merchant</h1>
      <h2>Just make your changes over there on the right and then click 'change'</h2>
  </li>

  <li class="flex-actions">
    <form action="/merchants/<%=@merchant.id%>" method="post">
      <label for="name">Name:</label>
        <input type="text" name="name" id="merchant.name" value="<%= @merchant.name %>"/>
        <input type="submit" value="Change" class="submit"/>
    </form>
  </li>
</ul>
