<ul class = "flex-main">
  <li class="flex-info">
    <h1>Merchants</h1>
      <table>
        <tr>
          <th>No.</th>
          <th>Merchant</th>
        </tr>

        <% for merchant in @merchants %>
          <tr>
            <td><a href="/merchants/<%= merchant.id %>"><%= merchant.id %></a></td>
            <td><%= merchant.name_to_title_case %></td>
          </tr>
        <% end %>
    </table>
  </li>

  <li class="flex-actions">
    <a href="/merchants/new">New merchant</a>
  </li>
</ul>
