<h1>Merchants</h1>
<a href="/merchants/new">New merchant</a>

<p>

<table>

  <tr>
    <th>No.</th>
    <th>Merchant</th>
  </tr>

  <% for merchant in @merchants %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.id %></a></td>
      <td><%= merchant.name %></td>
    </tr>
  <% end %>

</table>
