<h1>Merchants</h1>
<a href="/merchants/new">New merchant</a>

<ul>

  <% for merchant in @merchants %>
  <h3><a href="/merchants/<%= merchant.id %>"><%= merchant.id %></a></h3>
  <li><p><%= merchant.name %></p></li>

  <% end %>
</ul>
