<h1>This page will let you add a new merchant</h1>

<form method="post" action="/merchants">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required/>
      <input type="submit" value="Add Merchant"/>
</form>
