<p>Merchant: <%= @merchant.name_to_title_case %></p>

<p><a href="/merchants/<%= @merchant.id %>/edit">Edit</a></p>
<p>
  <form action="/merchants/<%= @merchant.id %>/delete" method="post">
  <input type="submit" value="delete" />
  </form>
</p>
