<ul class = "flex-main">
  <li class="flex-info">
    <h1>Payee: <%= @merchant.name_to_title_case %></h1>
  </li>

  <li class="flex-actions">
    <a href="/merchants/<%= @merchant.id %>/edit" class="edit">Edit</a>
      <p>
        <form action="/merchants/<%= @merchant.id %>/delete" method="post">
          <input type="submit" value="Delete" class="delete"/>
        </form>
  </li>
</ul>
