<!DOCTYPE html>
<html>

  <head>
    <title>Spending Tracker</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

  <body>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Dashboard</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/purchases">Purchases</a></li>
        <li><a href="/tags">Tags</a></li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
