<!DOCTYPE html>
<html>

  <head>
    <title>Spending Tracker</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

  <body>

    <nav>
      <ul class ="flex-nav">
        <li class="flex-ul"><a href="/">Home</a></li>
        <li class="flex-ul"><a href="/users">Dashboard</a></li>
        <li class="flex-ul"><a href="/merchants">Merchants</a></li>
        <li class="flex-ul"><a href="/purchases">Purchases</a></li>
        <li class="flex-ul"><a href="/tags">Tags</a></li>
      </ul>
    </nav>

    <main class="flex-info">
      <%= yield %>
    </main>

  </body>
</html>
