<!DOCTYPE html>
<html>

  <head>
    <title>Spending Tracker</title>
    <link rel="stylesheet" type="text/css" href="/../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  </head>

  <body>

    <nav>
      <ul class ="flex-nav">
        <!-- <li class="flex-ul"><a href="/">Home</a></li> -->
        <li class="flex-ul"><a href="/users">Dashboard</a></li>
        <li class="flex-ul"><a href="/merchants">Payees</a></li>
        <li class="flex-ul"><a href="/purchases">Purchases</a></li>
        <li class="flex-ul"><a href="/tags">Categories</a></li>
      </ul>
    </nav>

    <main>

      <%= yield %>

    </main>

  </body>
</html>
