body {
  background-color: #212B91;
  color: #FFFFFF;
  font-family: 'garamond', serif;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
}

.flex-nav {
  display: flex;
  justify-content: center;
}

.flex-ul {
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.flex-info {
  display: flex;
  flex-direction: column;
  background: green;
}

.flex-actions {
  display: flex;
  justify-content: center;
}
