<ul class = "flex-main">
  <li class="flex-info">
    <h1>Tags</h1>

    <table>

      <tr>
        <th>No.</th>
        <th>Tag</th>
      </tr>

      <% for tag in @tags %>
        <tr>
          <td><%= tag.id %></td>
          <td><a href="/tags/<%= tag.id %>"><%= tag.type_to_title_case %></a></td>
        </tr>
      <% end %>
    </table>
    </li>

  <li class="flex-actions">
    <a href="/tags/new" class="new">New tag</a>
  </li>
</ul>
