<h1>Tags</h1>
<a href="/tags/new">New tag</a>

<p>

<table>

  <tr>
    <th>No.</th>
    <th>Tag</th>
  </tr>

  <% for tag in @tags %>
    <tr>
      <td><a href="/tags/<%= tag.id %>"><%= tag.id %></a></td>
      <td><%= tag.type_to_title_case %></td>
    </tr>
  <% end %>

</table>
