<ul class = "flex-main">
  <li class="flex-info">
    <h1>This page will let you add a new Tag</h1>
    <h2>Just enter a description over there on the right and then click 'add'</h2>
  </li>

  <li class="flex-actions">
    <form method="post" action="/tags">
        <label for="type">Name:</label>
        <input type="text" name="type" id="type" required/>
        <input type="submit" value="Add" class="submit"/>
    </form>
  </li>
</ul>
