<h1>This page will let you add a new Tag</h1>

<form method="post" action="/tags">
      <label for="type">Name:</label>
      <input type="text" name="type" id="type" required/>
      <input type="submit" value="Add Tag"/>
</form>
