<ul class = "flex-main">
  <li class="flex-info">
    <h1>Tag: <%= @tag.type_to_title_case %></h1>
  </li>

  <li class="flex-actions">
    <a href="/tags/<%= @tag.id %>/edit" class="edit">Edit</a>
      <p>
        <form action="/tags/<%= @tag.id %>/delete" method="post">
          <input type="submit" value="Delete" class="delete"/>
        </form>
  </li>
</ul>
